{% extends 'base.html' %}

{% block title %}
    User #{{ user.username }} details
{% endblock %}

{% block main %}
    <h1>User #{{ user.id }}</h1>
    <h2>{{ user.username }}</h2>

    <br>
    <p>
        <strong>Равным образом постоянное</strong> информационно-пропагандистское <b>обеспечение нашей деятельности</b>
        требуют определения и
        уточнения направлений прогрессивного развития. Идейные соображения высшего порядка, а также новая модель
        <em>организационной <u>деятельности</u> способствует</em> пример: <span class="d-under">д</span> <u><span
            class="d-under">д</span>еятельности</u> подготовки и <i>реализации соответствующий условий активизации</i>.
        Значимость
        этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности
        обеспечивает
        <del>широкому кругу</del>
        (специалистов) <s>участие в формировании</s> соответствующий условий активизации. Разнообразный
        и богатый опыт <i><b>постоянный количественный рост</b></i> и сфера нашей активности требуют от нас анализа
        направлений
        прогрессивного развития. <dfn>Товарищи!</dfn> реализация намеченных
        <mark>плановых</mark>
        заданий способствует подготовки и реализации форм
        развития.
    </p>
    <br>
    <div>
        <a href="{{ url_for('users_app.delete', user_id=user.id) }}"
        >Delete user</a>
        <a href="{{ url_for('users_app.list') }}">Back to user list</a>
    </div>
{% endblock %}
